$green: #89B14D;
$black: #252525;

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/vector-AUG-2020-55.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}